--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ensembletype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.ensembletype AS ENUM (
    'orchestra',
    'group',
    'quartet',
    'quintet'
);


ALTER TYPE public.ensembletype OWNER TO postgres;

--
-- Name: musiciantype; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.musiciantype AS ENUM (
    'performancer',
    'composer',
    'conductor',
    'supervisor'
);


ALTER TYPE public.musiciantype OWNER TO postgres;

--
-- Name: userrole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.userrole AS ENUM (
    'default',
    'admin'
);


ALTER TYPE public.userrole OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: black_list_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.black_list_token (
    expire timestamp without time zone NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.black_list_token OWNER TO postgres;

--
-- Name: company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company (
    name character varying NOT NULL,
    address character varying NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.company OWNER TO postgres;

--
-- Name: composition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.composition (
    title character varying NOT NULL,
    composer_id uuid NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.composition OWNER TO postgres;

--
-- Name: ensemble; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ensemble (
    name character varying NOT NULL,
    type public.ensembletype NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.ensemble OWNER TO postgres;

--
-- Name: ensemble_member; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ensemble_member (
    ensemble_id uuid NOT NULL,
    musician_id uuid NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.ensemble_member OWNER TO postgres;

--
-- Name: musician; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musician (
    name character varying NOT NULL,
    surname character varying NOT NULL,
    type public.musiciantype NOT NULL,
    id uuid NOT NULL,
    description character varying NOT NULL
);


ALTER TABLE public.musician OWNER TO postgres;

--
-- Name: performance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.performance (
    composition_id uuid NOT NULL,
    ensemble_id uuid NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.performance OWNER TO postgres;

--
-- Name: record; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.record (
    title character varying NOT NULL,
    manufacturer_id uuid NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.record OWNER TO postgres;

--
-- Name: record_performance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.record_performance (
    record_id uuid NOT NULL,
    performance_id uuid NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.record_performance OWNER TO postgres;

--
-- Name: release; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.release (
    record_id uuid NOT NULL,
    release_date date NOT NULL,
    wholesale_supplier_id uuid NOT NULL,
    wholesale_price integer NOT NULL,
    retail_price integer NOT NULL,
    last_year_sold integer NOT NULL,
    this_year_sold integer NOT NULL,
    in_stock integer NOT NULL,
    id uuid NOT NULL
);


ALTER TABLE public.release OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    hashed_password character varying NOT NULL,
    role public.userrole NOT NULL,
    id uuid NOT NULL,
    username character varying NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: black_list_token black_list_token_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.black_list_token
    ADD CONSTRAINT black_list_token_id_key UNIQUE (id);


--
-- Name: black_list_token black_list_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.black_list_token
    ADD CONSTRAINT black_list_token_pkey PRIMARY KEY (id);


--
-- Name: company company_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_id_key UNIQUE (id);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (id);


--
-- Name: composition composition_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition
    ADD CONSTRAINT composition_id_key UNIQUE (id);


--
-- Name: composition composition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition
    ADD CONSTRAINT composition_pkey PRIMARY KEY (id);


--
-- Name: ensemble ensemble_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ensemble
    ADD CONSTRAINT ensemble_id_key UNIQUE (id);


--
-- Name: ensemble_member ensemble_member_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ensemble_member
    ADD CONSTRAINT ensemble_member_id_key UNIQUE (id);


--
-- Name: ensemble_member ensemble_member_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ensemble_member
    ADD CONSTRAINT ensemble_member_pkey PRIMARY KEY (id);


--
-- Name: ensemble ensemble_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ensemble
    ADD CONSTRAINT ensemble_pkey PRIMARY KEY (id);


--
-- Name: musician musician_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musician
    ADD CONSTRAINT musician_id_key UNIQUE (id);


--
-- Name: musician musician_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musician
    ADD CONSTRAINT musician_pkey PRIMARY KEY (id);


--
-- Name: performance performance_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance
    ADD CONSTRAINT performance_id_key UNIQUE (id);


--
-- Name: performance performance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance
    ADD CONSTRAINT performance_pkey PRIMARY KEY (id);


--
-- Name: record record_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record
    ADD CONSTRAINT record_id_key UNIQUE (id);


--
-- Name: record_performance record_performance_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record_performance
    ADD CONSTRAINT record_performance_id_key UNIQUE (id);


--
-- Name: record_performance record_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record_performance
    ADD CONSTRAINT record_performance_pkey PRIMARY KEY (id);


--
-- Name: record record_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record
    ADD CONSTRAINT record_pkey PRIMARY KEY (id);


--
-- Name: release release_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.release
    ADD CONSTRAINT release_id_key UNIQUE (id);


--
-- Name: release release_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.release
    ADD CONSTRAINT release_pkey PRIMARY KEY (id);


--
-- Name: user user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_id_key UNIQUE (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: ix_user_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_username ON public."user" USING btree (username);


--
-- Name: composition composition_composer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.composition
    ADD CONSTRAINT composition_composer_id_fkey FOREIGN KEY (composer_id) REFERENCES public.musician(id);


--
-- Name: ensemble_member ensemble_member_ensemble_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ensemble_member
    ADD CONSTRAINT ensemble_member_ensemble_id_fkey FOREIGN KEY (ensemble_id) REFERENCES public.ensemble(id);


--
-- Name: ensemble_member ensemble_member_musician_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ensemble_member
    ADD CONSTRAINT ensemble_member_musician_id_fkey FOREIGN KEY (musician_id) REFERENCES public.musician(id);


--
-- Name: performance performance_composition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance
    ADD CONSTRAINT performance_composition_id_fkey FOREIGN KEY (composition_id) REFERENCES public.composition(id);


--
-- Name: performance performance_ensemble_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.performance
    ADD CONSTRAINT performance_ensemble_id_fkey FOREIGN KEY (ensemble_id) REFERENCES public.ensemble(id);


--
-- Name: record record_manufacturer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record
    ADD CONSTRAINT record_manufacturer_id_fkey FOREIGN KEY (manufacturer_id) REFERENCES public.company(id);


--
-- Name: record_performance record_performance_performance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record_performance
    ADD CONSTRAINT record_performance_performance_id_fkey FOREIGN KEY (performance_id) REFERENCES public.performance(id);


--
-- Name: record_performance record_performance_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.record_performance
    ADD CONSTRAINT record_performance_record_id_fkey FOREIGN KEY (record_id) REFERENCES public.record(id);


--
-- Name: release release_record_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.release
    ADD CONSTRAINT release_record_id_fkey FOREIGN KEY (record_id) REFERENCES public.record(id);


--
-- Name: release release_wholesale_supplier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.release
    ADD CONSTRAINT release_wholesale_supplier_id_fkey FOREIGN KEY (wholesale_supplier_id) REFERENCES public.company(id);


--
-- PostgreSQL database dump complete
--

